:root {
  --primary-dark: #202c39;
  --primary-light: #283845;

  --accent-warm: #f29559;
  --accent-primary: #f2d492;
  --accent-secondary: #b8b08d;
  --font-main: 'Inter';
  --font-secondary: 'Montserrat';
  --font-title: 'Pacifico';
}

:root {
  --primary-dark: #3f4739;
  --primary-light: #717568;

  --accent-warm: #bacba9;
  --accent-primary: #e1f4cb;
  --accent-secondary: #f1bf98;
  --font-main: 'Inter';
  --font-secondary: 'Montserrat';
  --font-title: 'Pacifico';
}

:root {
  --primary-dark: #3f4739;
  --primary-light: #717568;

  --accent-warm: #bacba9;
  --accent-primary: #e1f4cb;
  --accent-secondary: #e1f4cb;
  --font-main: 'Inter';
  --font-secondary: 'Montserrat';
  --font-title: 'Pacifico';
}
:root {
  --primary-dark: #43281c;
  --primary-light: #48392a;

  --accent-warm: #c06e52;
  --accent-primary: #fbf2c0;
  --accent-secondary: #c06e52;
  --font-main: 'Inter';
  --font-secondary: 'Montserrat';
  --font-title: 'Pacifico';
}
